<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All User || Django-CRUD</title>
</head>
<body>
<table border="2" style="border-collapse: collapse;  text-align: center;">
    <tr>
        <th>User Name</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>Address</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for i in data %}
        <tr>
            <td>{{ i.userName }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.mobileNumber }}</td>
            <td>{{ i.address }}</td>
            <td>{{ i.created_date }}</td>
            <td>{{ i.updated_date }}</td>
            <td>Edit Data</td>
            <td>Delete Date</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>